html, body {
	height: 100%;
}

#main {
	height: 100%;
}

#header {
	background-color: #000000;
	height: 60px;
}

#header img {
	height: 40px;
}

#intro {
	background-color: #1b1b1b;
	height: 100%;
}

#chat {
	background-color: #3b3b3b;
	height: 100%;
}

#battle {
	height: 100%;
}

#comment {
	height: 80%;
}

.slideUp {
	bottom: -100px;
	position: absolute;
	animation-duration: 8s;
	animation-name: slideUp;
	font-size: 30px;
}

@keyframes slideUp {
	0% {
		bottom: 0px;
	}
	99% {
		bottom: 800px;
	}
	100% {
		bottom: 900px;
		display: none;
	}
}

#input-area {
	height: 20%;
}

#input-area .input {
	background-color: #666666;
}

#input-area button {
}
