html, body {
	height: 100%;
}

* {
	margin: 0px;
}

#main {
	height: 96%;
	margin: 0px;
}

#header {
	background-color: #000000;
	height: 60px;
}

#header img {
	height: 40px;
}

#intro {
	background-color: #1b1b1b;
	height: 95%;
	text-align: center;
}

#chat {
	background-color: #3b3b3b;
	height: 95%;
}

#comment {
	height: 80%;
}

.slideUp {
	/* bottom: -100px; */
	position: absolute;
	animation-duration: 8s;
	animation-name: slideUp;
	font-size: 30px;
	opacity: 0.0;
}

@keyframes slideUp {
	0% {
		opacity: 1.0;
		bottom: 0px;
	}
	99% {
		opacity: 1.0;
		bottom: 800px;
	}
	100% {
		display: none;
	}
}

#input-area {
	height: 15%;
}

#input-area .input {
	background-color: #666666;
}

#battle {
	height: 95%;
	padding: 0px;
}

#good {
	height: 50%;
	background-color: #e42b8a;
}

#fuck {
	height: 50%;
	background-color: #0d70b2;
}

.field img {
	margin: auto;
	bottom: 0px;
}

.field {
	display: flex;
	text-align: center;
}

h1 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
